.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contacts h2 {
  color: #ffffff;
  font-size: 30px;
}
.subtitle {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}

.contact_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
@media (max-width: 1600px) {
  .contact_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .contact_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contact_card {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  width: 100%;
}

.contact_card:hover {
  transform: translateY(-5px);
}

.contact_icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.contact_card h3 {
  color: #871ba4;
  margin-bottom: 15px;
  font-size: 25px;
}

.contact_card p {
  margin: 15px 0;
  font-size: 20px;
}

.contact_card a {
  color: #871ba4;
  text-decoration: none;
  font-weight: bold;
}

.small {
  color: #777;
}
